.contact{
  &__content{
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    @media screen and (max-width: 768px){
      flex-direction: column;
      align-items: center;
    }
    &__form {
      width: 49%;
      position: relative;
      @media screen and (max-width: 768px){
        width: 100%;
      }
      &__row{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin-bottom: 0.5rem;
        &.double{
          flex-direction: row;
        }
        >div{
          display: flex;
          flex-direction: column;
          width: 49%;
        }
        label{
          margin-bottom: 0.5rem;
          font-weight: 700;
          color: $black;
        }
        input,textarea{
          background-color: $lightgrey;
          border: none;
          padding: 0.6rem 0.4rem;
          resize: none;
        }
      }
      button{
        background-color: $black;
        color: $white;
        border: none;
        padding: 0.4rem 1.5rem;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        cursor: pointer;
        width: max-content;
        @media screen and (max-width: 768px){
          position: relative;
          margin: 0.5rem 0 1rem;
        }
        &:disabled {
          background-color: $lightgrey;
          color: black;
          cursor: default;
        }
      }
    }
    &__map {
      width: 49%;
      @media screen and (max-width: 768px){
        width: 100%;
        height: 300px;
        margin-bottom: 1rem;
      }
    }
  }
}