.about{
  .custom-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 768px){
      flex-direction: column;
    }
    &_column{
      width: 45%;
      @media screen and (max-width: 768px){
        width: 100%;
        padding-bottom: 1.5rem;
      }
      &:last-child{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1rem;
        grid-column-row:1fr 1fr 1fr;
        @media screen and (max-width: 768px){
          grid-template-columns: 1fr 1fr;
          grid-column-row: 1fr 1fr;
        }
      }
      img{
        width: 100%;
        object-fit: cover;
      }
    }
  }
}