/*
 * Fonts
 */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


/*
 * Mixins
 */

@mixin square(){
  position: relative;
  &:after {
    content:' ';
    padding-bottom: 100%;
  }
}

/*
 * Generalities
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
}

.headline {
  font-size: 96px;
  font-weight: 900;
}

.title {
  font-size: 32px;
  font-weight: 700;
  padding-bottom: 15px;
  color: $black;
}

.text {
  font-size: 16px;
  font-weight: 400;
  color: $black;
}

p{
  color: $black;
}

.button {
  background-color: $black;
  color: $white;
  font-size: 18px;
  font-weight: 700;
  border-radius: 4px;
  padding: 5px 30px;
  border: 0;
  &:focus {
    outline: none;
  }

  &:hover {
    cursor: pointer;
  }
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  @media screen and (max-width: 1240px){
    padding: 0 20px;
  }
}

.small-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

body{
  background: $white;
}