header {
  position: relative;
  z-index: 100;
  width: 100%;
  padding: 30px 0;

  .burger-button {
    display: none;
    @media screen and (max-width: 768px) {
      width: 25px;
      height: 25px;
      z-index: 10;
      cursor: pointer;
      position: relative;
      padding: 5px 0;
      background-color: transparent;
      border: none;
      display: block;
      span {
        border-radius: 2px;
        position: absolute;
        display: block;
        height: 5px;
        width: 100%;
        background-color: $black;
        transform: rotate(0);
        transition: all 200ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
        &.one {
          top: 0;
        }
        &.two {
          top: 10px;
        }
        &.three {
          top: calc(100% - 5px);
        }
      }
    }
    &.open .one {
      transform: translateY(10px) rotate(45deg);
    }
    &.open .two {
      opacity: 0;
    }
    &.open .three {
      transform: translateY(-10px) rotate(-45deg);
    }
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      width: 105px;
      height: 30px;

      img {
        object-fit: contain;
        height: 100%;
        width: 100%;
        cursor: pointer;
        z-index: 10;
        position: relative;
      }
    }

    nav {
      @media screen and (max-width: 768px){
        position: fixed;
        background: $white;
        width: 100%;
        height: 100vh;
        top: 0;
        left: -100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: left 0.5s ease-in-out;
        &.open{
          transition: left 0.5s ease-in-out;
          left: 0;
        }
      }
      > ul {
        list-style: none;
        display: flex;
        align-items: center;
        @media screen and (max-width: 768px){
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-direction: column;
          height: fit-content;
        }

        > li {
          display: inline-block;
          margin-left: 20px;
          @media screen and (max-width: 768px){
            margin-left: 0;
            margin-bottom: 2rem;
          }

          > button {
            background-color: inherit;
            border: none;

            &:hover {
              cursor: pointer;
            }

            &.active {
              font-weight: 700;
            }
          }

          .currency {
            position: relative;

            > button {
              width: 25px;
              height: 25px;
              border: 0;
              border-radius: 4px;
              background-color: $black;
              font-size: 16px;
              font-weight: 700;
              color: $white;

              &:hover {
                cursor: pointer;
              }
            }

            > ul {
              position: absolute;
              bottom: 4px;
              padding-top: 4px;
              z-index: -1;
              right: 0;
              transform: translate(0, 100%);
              width: 25px;
              list-style: none;
              background-color: $lightgrey;

              li {
                width: 100%;

                button {
                  text-align: center;
                  width: 100%;
                  height: 25px;
                  border: none;

                  &.active, &:hover {
                    background-color: $lightgrey;
                    cursor: pointer;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

header .container nav>ul>li>button.modeBtn {
  display: block;
  width: 24px;
  height: 12px;
  background: lightgrey;
  position: relative;
  border-radius: 12px;

  &::after {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    width: 20px;
    height: 20px;
    border-radius: 99px;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, .2);
    transform: translate(-50%,-50%);
    background-color: white;
    transition: 0.2s all ease-in-out;
    background-image: url("../../assets/images/l.svg");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
  }
  &.Darkmode::after {
    right: 0;
    left: inherit;
    transform: translate(50%,-50%);
    background-image: url("../../assets/images/l1.svg");
  }
}