#home-slider {
  width: 100%;

  @media screen and (max-width: 768px){
    .title{
      padding-top: 4rem;
    }
  }

  .home-slider-item {
    width: 100%;

    .home-slider-item-image {
      height: 45vh;
      width: 100%;
      position: relative;

      @media screen and (max-width: 768px){
        height: 60vw;
      }

      a:focus {
        outline: none;
      }

      img {
        object-fit: contain;
        object-position: bottom;
        height: 100%;
        width: 100%;
      }

      .shape {
        width: 500px;
        height: calc(100% + 50px);
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(15%, 0);
        z-index: -1;

        svg {
          width: 100%;
          height: 100%;
          object-fit: contain;
          object-position: top right;
        }
      }
    }
  }

  .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin-top: 40px;

    li {
      button {
        width: 10px;
        height: 10px;
        background-color: $lightgrey;
        border-radius: 10px;
        color: transparent;
        font-size: 0;
        border: none;
        margin: 0 3.5px;
        transition: 0.2s all ease-in-out;

        &:hover {
          cursor: pointer;
        }
      }

      &.slick-active button {
        width: 20px;
        background-color: $black;
      }
    }
  }
}