.newsletter{
    background: rgba(5,4,9,0.65);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    width: 100%;
    height: 100%;
    &-content{
        background: $white;
        padding: 20px;
    }
    form{
        margin-top: 20px;
        display: flex;
        align-items: flex-end;
        .custom-flex_column{
            &:first-child{
                margin-right: 20px;
                display: flex;
                flex-direction: column;
                label{
                    font-weight: 900;
                    font-size: 12px;
                    line-height: 15px;
                    color: $black;
                }
                input{
                    background: $lightgrey;
                    border: 0;
                    width: 330px;
                    height: 34px;
                }
            }
        }
    }
}