.shop{
  nav{
    max-width: 724px;
    margin: 0 auto 50px auto;
    ul{
      display: flex;
      li{
        list-style-type: none;
        margin-right: 27px;
        @media screen and (max-width: 768px){
          margin-right: 0;
        }
        button{
          border: 0;
          background: none;
          font-weight: 900;
          color: $grey;
          font-size: 12px;
          line-height: 15px;
          text-transform: uppercase;
          &.active{color: $black;}
          &:hover{
            color: $black;
          }
        }
      }
    }
  }
  .article{
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 724px;
    margin: 0 auto;
    &--title{
      font-weight: 900;
      font-size: 96px;
      line-height: 116px;
      text-transform: uppercase;
      color: $black;
      text-align: center;
      @media screen and (max-width: 768px){
        font-size: 40px;
      }
    }
    .img-responsive{
      margin-top: -150px;
      max-width: 650px;
      width: 100%;
      height: auto;
      @media screen and (max-width: 768px){
        width: 100%;
        margin-top: -120px;
      }
    }
    .text{
      margin-bottom: 30px;
      @media screen and (max-width: 768px){
        margin-top: 30px;
      }
    }
    table{
      width: 100%;
      tbody{
        display: flex;
        @media screen and (max-width: 768px){
          flex-wrap: wrap;
        }
        tr{
          align-items: center;
          display: flex;
          flex-direction: column;
          width: 33%;
          font-weight: 700;
          @media screen and (max-width: 768px){
            width: 50%;
            text-align: center;
            margin-bottom: 1rem;
          }
          td:first-child{
            font-size: 18px;
            line-height: 22px;
            text-transform: uppercase;
            color: $grey;
          }
          td:last-child{
            font-size: 18px;
            line-height: 22px;
            text-align: center;
            text-transform: uppercase;
            color: $black;
          }
        }
      }
    }
    .button{
      margin-top: 30px;
      @media screen and (max-width: 768px){
        margin-bottom: 35px;
      }
    }
  }
  .popin{
      background: rgba(5,4,9,0.65);
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 999;
      width: 100%;
      left: 0;
      height: 100%;
      top: 0;
      &-content{
        background: $white;
        padding: 50px;
        width: 772px;
        height: auto;
        @media screen and (max-width: 768px){
          width: 90%;
          padding: 20px;
        }
      }
  }
  .contact__content__form{
    margin: 20px auto 30px auto;
    @media screen and (max-width: 768px){
      margin-bottom: 0;
    }
  }
}